@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    /* min-height: 100%; */
    /* background: radial-gradient(circle, #0B5345 0%, #1A1B1F 70%); */
    /* background: #1A1B1F; */
    background: linear-gradient(0deg, #1F2121, #1F2026 0%, #1F2121 100%);

    background-attachment: fixed;
    scroll-behavior: smooth;
    font-family: "IBM Plex Sans";
}

/* #index {
    background: #0c0c0c;
    min-height: 100%;
    background: radial-gradient(circle, rgb(19, 62, 58) 0%, rgb(5, 35, 30) 68%);
    background-attachment: fixed;
    scroll-behavior: smooth;
  } */

/* svg {
width: 70px;
height: 70px;
}
svg:hover {
fill: red;
}

.icon:hover {
    fill: #DA4567;
  } */